<div class="text-center">
	<a href="#top" title="Наверх" class="ba-to-top" data-smooth-scroll data-animation-duration="200">
		<svg width="22" height="9" viewBox="0 0 22 9" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M12.0891 0.323807L21.5485 7.11259C22.1505 7.54444 22.1505 8.24461 21.5485 8.67624C20.947 9.10792 19.9714 9.10792 19.3699 8.67624L10.9998 2.66922L2.63005 8.67607C2.0283 9.10774 1.05282 9.10774 0.451311 8.67607C-0.150437 8.2444 -0.150437 7.54426 0.451311 7.11241L9.91081 0.323632C10.2117 0.107796 10.6057 -8.27203e-07 10.9998 -8.22503e-07C11.3941 -8.17801e-07 11.7884 0.108006 12.0891 0.323807Z" fill="#151615"/>
		</svg>				
	</a>
</div>
<!-- /.text-center -->
<footer class="ba-footer">
	<div class="row">
		<div class="column small-4 ba-footer-col">
			<ul class="menu align-center ba-menu-footer-mob">
				<li>
					<a href="#">О нас</a>
				</li>
			</ul>
			<h5 class="ba-menu-footer-desktop__title">Информация о нас</h5>
			<ul class="menu vertical ba-menu-footer-desktop">
				<li>
					<a href="#">Контакты</a>
				</li>
				<li>
					<a href="#">Наша история</a>
				</li>
				<li>
					<a href="#">Эко-политика</a>
				</li>
				<li>
					<a href="#">Наши партнеры</a>
				</li>
				<li>
					<a href="#">Возврат товара</a>
				</li>
				<li>
					<a href="#">Оплата и доставка</a>
				</li>
			</ul>
		</div>
		<!-- /.column small-4 -->
		<div class="column small-4 flex-container flex-dir-column align-middle">
			<a href="/" class="ba-logo ba-logo--footer">
				<img src="{{root}}assets/img/logo.svg" alt="Эко лавка">
			</a>

			<div class="show-for-medium ba-socials flex-container align-center align-middle">
				<a href="#" aria-label="Facebook">
					<svg width="24" height="24">
						<use xlink:href="#icon-facebook" />
					</svg>
				</a>
				<a href="#" aria-label="Instagram">
					<svg width="24" height="24">
						<use xlink:href="#icon-instagram" />
					</svg>

				</a>
				<a href="#" aria-label="Telegramm">
					<svg width="24" height="24">
						<use xlink:href="#icon-telegram" />
					</svg>
				</a>
			</div>
			<!-- /.ba-socials -->
			<ul class="show-for-medium menu align-center">
				<li>
					<a href="#">Карта сайта</a>
				</li>
			</ul>
		</div>
		<!-- /.column small-4 -->
		<div class="column small-4 ba-footer-col">
			<ul class="menu align-center ba-menu-footer-mob">
				<li>
					<a href="{{root}}/shop.html">Купить</a>
				</li>
			</ul>
			<h5 class="ba-menu-footer-desktop__title">Информация о нас</h5>

			<ul class="menu vertical ba-menu-footer-desktop">
				<li>
					<a href="#">Контакты</a>
				</li>
				<li>
					<a href="#">Наша история</a>
				</li>
				<li>
					<a href="#">Эко-политика</a>
				</li>
				<li>
					<a href="#">Наши партнеры</a>
				</li>
				<li>
					<a href="#">Возврат товара</a>
				</li>
				<li>
					<a href="#">Оплата и доставка</a>
				</li>
			</ul>
		</div>
		<!-- /.column small-4 -->
		<div class="column small-12 hide-for-medium">
			<div class="ba-socials flex-container align-center align-middle">
				<a href="#" aria-label="Facebook">
					<svg width="24" height="24">
						<use xlink:href="#icon-facebook" />
					</svg>
				</a>
				<a href="#" aria-label="Instagram">
					<svg width="24" height="24">
						<use xlink:href="#icon-instagram" />
					</svg>

				</a>
				<a href="#" aria-label="Telegramm">
					<svg width="24" height="24">
						<use xlink:href="#icon-telegram" />
					</svg>
				</a>
			</div>
			<!-- /.ba-socials -->
		</div>
		<!-- /.column small-12 -->
	</div>
	<!-- /.row -->
	<div class="ba-copyright text-center medium-text-right">
		<div class="row column">
			Интернет-магазин Эко-Лавка 2019
		</div>
		<!-- /.row column -->
	</div>
	<!-- /.ba-copyright -->
</footer>
<!-- /.ba-footer -->