<section class="ba-subscribe-section">
	<div class="row column">
		<h3 class="text-center">подписаться на рассылку</h3>

		<form action="#" method="POST" class="ba-subscribe-form">
			<div class="ba-form-row">
				<label for="getSMS">Получать SMS</label>

				<div class="switch">
					<input class="switch-input" id="getSMS" type="checkbox" name="getSMS">
					<label class="switch-paddle" for="getSMS">
						<span class="show-for-sr">Получать SMS</span>
					</label>
				</div>

			</div>
			<!-- .ba-form-row -->
			<div class="ba-form-row">
				<label for="get-сalls">Получать аудиозвонки</label>

				<div class="switch">
					<input class="switch-input" id="get-сalls" type="checkbox" name="get-сalls">
					<label class="switch-paddle" for="get-сalls">
						<span class="show-for-sr">Получать аудиозвонки</span>
					</label>
				</div>

			</div>
			<!-- .ba-form-row -->
			<label for="phone" class="ba-label-small">Ваш телефон</label>
			<input required type="tel" name="phone" id="phone" placeholder="Ваш телефон">

			<button class="button" type="submit">Отправить</button>
		</form>
	</div>
	<!-- /.row column -->
</section>
<!-- /.ba-subscribe-section -->